*,*::after,*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



nav {
    padding: 10px;
}

header {
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #c49ee3;
}

main {
    height: 90vh;
    position: relative;
    background-color: e0d2f0;
}

aside {
    width: 15%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    background-color: #d7b6f2;;
}

.btn {
    margin: 0 10px;
    background-color: transparent;
    border: none;
}

#contenedor {
    display: flex;
    width: 100%;
}

#contenedor div {
    width: 85%;
}

/* Sección de Texto */

#texto {
    display: none;
}

/* Clases Específicas del Modo Oscuro */


.modoOscuro {
    color: #c8c2f2;
}

.modoOscuro header{
    background-color: #101124;
}

.modoOscuro main{
    background-color: #27274d;
}

.modoOscuro aside {
    background-color: #181a42;
}

.modoOscuro .btn{
    color: #c8c2f2
}


/* Imagen con firma */

.firma{
    position: absolute;
    bottom: 15px;
    right:15px;
}